@import 'node_modules/nib/lib/nib/gradients'

@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")

$gray = #B9C3CC
$white = #F9FFFF
$black = #242323
$red = #CC2920

.red
  color $red
.gray
  color $gray
.black
  color $black
.white
  color $white

.text-justify
  text-align justify

reset-html5()

*
  text-decoration none
  font-family "Helvetica Neue", "Helvetica", sans-serif
  color $black
  letter-spacing 5px

html, body
  width 100%
  height 100%
  //background-color $mainColor
body
  //background url('../images/bg.png')
  background $white

a
  color $red
  font-weight 300
a:hover
  text-decoration none
  cursor pointer
  color $white
  font-weight 900
  h4
    color $white
  p
    color $white

h1,h2,h3,h4,h5
  color $gray
  font-weight 200

h2
  font-size 60px
  font-weight 400

.strong
  font-weight 500

strong
  font-variant small-caps
  font-size 13pt
  color $black

i
  font-style italic

p
  font-weight 300
  letter-spacing 4px

@media screen and (-webkit-min-device-pixel-ratio: 2)
  p
    font-weight 100

hr
  color $red
  border-color $red

hr.dotted
  border-style dashed
  border-spacing 10px 50px

hr.white
  color $white
  border-color $white

.link
  text-align center
  margin 0px auto
  width 100px
  height 100px
  display block
  float none
  position relative
  padding 0
  img
    padding 0
    margin 0
    top 0px
    left 0px
    position absolute
    transition opacity .5s
    opacity 1
    width 100px
  img.hover
    opacity 0
.link:hover
  img.hover
    opacity 1
  img:not(.hover)
    opacity 0

#home
  padding-bottom 100px
  > div:not(.nav)
    margin 50px auto

@grid-float-breakpoint 
  width 930px
  
div.navbar.nav
  .navbar-toggle
    border-color $white
    float none
    margin 30px auto
    width 60px
    height 60px
    .icon-bar
      background-color $red
      width 40px
  .navbar-toggle:hover
    background $white
  button.navbar-toggle:focus
    outline-color $red
    border 0px
  height auto
  //background linear-gradient(top, $mainColor, $gradMid, $mainColor)
  background $gray
  //background linear-gradient(top, $gradMid, $mainColor, $gradMid)
  text-align center
  width 100%
  max-width 100%
  min-height 20px
  border-radius 0px
  margin 0px
  box-shadow 0px -10px 15px rgba(0,0,0,0.1)
  ul.nav
    float none
    margin 30px auto 0px auto
  .nav-link
    position relative
    left 0px
    top 0px
    display inline-block
    color $gray
    border-right 1px solid $white
    padding 15px 50px
    a
      font-size 23px
      font-weight 200
  .nav-link:last-child
    border-right none
  .nav-link.home-link
    border-right 3px solid $white
    img
      height 100px

@media screen and (max-width: 940px) and (min-width: 841px)
  div.navbar.nav
    .nav-link
      padding 15px 40px
@media screen and (max-width: 840px) and (min-width: 769px)
  div.navbar.nav
    .nav-link
      padding 15px 30px
@media screen and (max-width: 768px)
  div.navbar.nav
    ul.nav
      margin 0px auto
      .nav-link
        clear both
        display block
        width 60%
        border-right none
        border-bottom 1px solid $white
        margin 0 auto
      .nav-link:last-child
        border-bottom none

#about
  h2
    border-bottom 2px solid $black
    border-top 2px solid $black
    margin 10px auto
    width 337px
    height 75px
  #equation
    display block
    > div > div
      position absolute
      top 0px
      left 0px
      right 0px
      bottom 0px
      table
        width 100%
        height 100%
        text-align center
        vertical-align middle
    .cypress
      margin-left 40px
    h4
      text-align center
      vertical-align middle
      width 100%
      font-weight 900
    img
      display table-cell
      width 100%
      height auto
      border-radius 15px
      vertical-align middle
    .plus
      h4
        font-weight 900
        font-size 40px
        //margin-top 70px
        padding-top 145%
    .tech
      h4
        font-weight 900
        margin-left 5px
@media screen and (max-width: 460px)
  #about
    h2
      border-bottom 2px solid $black
      border-top 2px solid $black
      margin 10px auto
      width 290px
      height 66px
      font-size 50px
@media (max-width: 650px)
  #about
    #equation
      > div, > div.cypress
        width 250px
        float none
        margin 0 auto
      .plus
        h4
          padding-top 0px
  
#buy
  .input-group
    .input-group-addon
      background rgba(255,255,255,0)
      button.btn.btn-default
        background $gray
        color $white
      button.btn.btn-default:hover
        background $white
        color $gray
    input
      height 50px
      background $white
      color $black
      letter-spacing 1px
    input:focus
      border none
      box-shadow 0px 0px 2px $red
