extends layout

block content
  h1.text-center so, we messed up....
  .col-sm-12
    br
    hr.dotted
    br
  .col-sm-12
    a(href='/')
      #clockblock-block.text-center(style='margin: 0 auto; float: none;')
        canvas#clockblock(width='400px', height='400px')
        img.clockblock(src='/images/clockblock.jpg', width='400px', title='clockblock')
      p.text-center (click to go home)
  !=js('client')
