extends layout

block content
  #myModal.modal.mogal-lg.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') x
              h3.modal-title
              br
            .modal-body
  .navbar.nav(role="navigation")
    .navbar-header
      .nav-link.home-link.navbar-brand
        a(href='/')
          img(src='/images/logo.png')
      button.navbar-toggle(data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        .nav-link
          a(href='#about') about
        .nav-link
          a(href='#buy') buy
        .nav-link
          a(href='#learn') learn
        .nav-link
          a(href='#contact') contact
  #main.container
    br
    .col-sm-12
      #clockblock-block.col-sm-6.text-center
        canvas#clockblock(width='400px', height='400px')
        img.clockblock(src='/images/clockblock.jpg', width='400px', title='clockblock')
        .time
          .row.h30
            .unit.text-right
              p hour:
            .measure.text-left
              p#hour #{new Date().getHours()}
          .row.h30
            .unit.text-right
              p minute:
            .measure.text-left
              p#minute #{new Date().getMinutes()}
          .row.h30
            .unit.text-right
              p second:
            .measure.text-left
              p#second #{new Date().getSeconds()}
        .modes
          .row.h30
            div.radio.checked(data-val='0')
            p fill
          .row.h30
            div.radio(data-val='1')
            p dot
          .row.h30
            div.radio(data-val='2')
            p blend
      #blurb.col-sm-5.pull-right
        .row
        h2 clock<span class='red'>block</span>
        .col-sm-6.col-sm-offset-3.text-justify
          p <i>clockblock</i> is a minimalistic clock for people who appreciate modern design and contemporary technology<strong>.</strong> <i>clockblock</i> is made out of fine hand finished wood and a specially designed circuit<strong>.</strong> Everything is made by hand with care in the city of New Orleans<strong>.</strong>
  #about.container
    br
    hr.dotted
    br
  .container
    .row
      .col-sm-4
        img.img-thumbnail.no-border(src='/images/clockblock-1.jpg')
      .col-sm-4
        img.img-thumbnail.no-border(src='/images/clock_back.jpg')
      .col-sm-4
        img.img-thumbnail.no-border(src='/images/workplace.jpg')
    .row
      br
      br
    .row
      .col-sm-4.col-sm-offset-1
        .row
          h4.red.pull-left wood &nbsp;
          hr
        p.text-justify <strong class='red'>louisiana cypress</strong>, this is where it all starts, some fine locally sourced wood. first we plane and join all of our cypress. we then glue up those boards 3 across to the get a single plank. we then take 3 of those planks and glue them together one of on top of antoher. this three thickness plank is then chopped into 11" x 11" blocks.
        p.text-justify <strong class='red'>great!</strong> we've got a perfectly square 11" x 11" block of wood... where's the clock? right. after we've got our block we run it through our cnc and route out the cool pattern you see above. after running the blanks through the cnc, we finish off each hole by drilling down the final thickness on a drill press, by hand. last steps are to sand everything down nice and pretty and then rub some oil on it.
        p.text-justify <strong class='red'>voil&#224;</strong>, you have beautiful block ready to be clocked.
      .col-sm-4.col-sm-offset-1
        .row
          h4.black.pull-right  &nbsp;tech
          hr.black
        p.text-justify <strong class='black'>kicad</strong>, the first step with getting the <i>clockblock</i> to tick, is a printed circuit board (pcb). the software we use to design our pcb's is called kicad. after designing the board we get the pcb's manufactured by a good friend of ours in texas (signature electronics) and shipped back to us. in the meantime, we place orders online for all the components on the pcb.
        p.text-justify <strong class='black'>one week</strong> later, and all of our new toys have arrived. now onto assemble, there are roughly 100 components on a single <i>clockblock</i> pcb. we hand place each component (we have a pair of magical tweezers that make anything and everything possible). after placing the components on the pcbs, we bake them in our toaster oven (with a custom control board we made).
        p.text-justify <strong class='black'>finally</strong>, we clock that block. we solder all the wires, screw all the screws, and plug it in.
    .row
      br
      .col-sm-4
        img.img-thumbnail.no-border(src='/images/look.jpg')
      .col-sm-4
        img.img-thumbnail.no-border(src='/images/baking.jpg')
      .col-sm-4
        img.img-thumbnail.no-border(src='/images/glory.jpg')
    br
    hr.dotted
    br
  #buy
    br
    .container
      .col-sm-12
        .row
          h2.black you <span class='red'>want </span> one
          br
          .col-sm-10.col-sm-offset-1.text-justify
            p see, we knew you had good taste... <i>clockblock</i> is made to order, so you can purchase one now and we will ship it as soon as it's ready. We will send you updates as we assemble your <i>clockblock</i>.
            .row
              form#payment-form.form-inline(action='/purchase', method='POST')
                .form-group.payment-errors.red
                .row
                  .form-group.col-sm-6
                    label.col-md-3.inline full name
                    input.inline.form-control(type='text', required='true', x-autocompletetype='cc-name', name='name')
                  .form-group.col-sm-6
                    label.col-md-3.inline email
                    input.inline.form-control(type='email', required='true', name='email')
                .row
                  .form-group.col-sm-6
                      label.col-md-3.inline phone
                      input.inline.form-control(type='phone', required='true', name='phone')
                  .form-group.col-sm-6
                      label.col-md-3.inline address
                      input.inline.form-control(type='text', data-stripe='address_line1', required='true', name='address')
                .row
                  .form-group.col-sm-6
                      label.col-md-3.inline city
                      input.inline.form-control(type='city', data-stripe='address_city', required='true', name='city')
                  .form-group.col-sm-3
                      label.col-md-4.inline state
                      input.inline.form-control(type='state', required='true', data-stripe='address_state', name='state')
                  .form-group.col-sm-3
                      label.col-md-3.iniine zip
                      input.inline.form-control(type='zip', data-stripe='address_zip', required='true', name='zip')
                .row
                  .form-group.col-sm-6
                      label.col-md-3.inline card #
                      input.cc.inline.form-control(type='text', required='true',size='20', name='cc-number', x-autocompletetype='cc-number', data-stripe='number', placeholder='####-####-####-####')
                  .form-group.col-sm-6
                      label.col-md-3.inline cvc
                      input.col-sm-3.inline.form-control(type='text', required='true',size='4',name='cc-cvc', x-autocompletetype='cc-csc', data-stripe='cvc', placeholder='###')
                .row
                  .form-group.col-sm-6
                    .row
                      .col-xs-12
                        label.col-md-3 expiration
                    .row
                      .col-xs-6
                        input.inline.form-control(type='text', required='true',size='2', name='cc-exp-month', data-stripe='exp-month', placeholder='mm')
                      .col-xs-6
                        input.inline.form-control(type='text', required='true',size='4', name='cc-exp-year', data-stripe='exp-year', placeholder='yyyy')
                .row
                  .form-group.col-sm-6
                    .row
                      .col-xs-12
                        label.col-md-3 model 
                        select.model.input-lg.form-control(name='version')
                          option(value='257.78') original $250
                          option(value='180.54') plank $175
                          option(value='103.30') kit $100
                    .row.model-descriptions
                      .col-xs-12
                        label.col-md-12 description
                        strong.tight the original, it puts the <span style='font-weight: bolder;font-variant:small-caps;font-size:20px;'>&quot;block&quot;</span> in clockblock. this model is three boards thick and approximately 11" x 11" x 2.75". it feels good and massive in your hands.
                      .col-xs-12.hidden
                        label.col-md-12 description
                        strong.tight the plank, its the <span style='font-weight: bolder;font-variant:small-caps;font-size:20px;'>slimmer</span> cousin of the original. plank is a single board thick and approximately 11" x 11" x .75". it takes us significantly less time to produce, hence the lower cost.
                      .col-xs-12.hidden
                        label.col-md-12 description
                        strong.tight the kit, fancy yourself a <span style='font-weight: bolder;font-variant:small-caps;font-size:20px;'>DIY</span> kind of person. well we made this one just for you... we didn't finish it! you'll receive a populated pcb, some wires, some screws, and a plank. oh i guess instructions too...
                  .col-sm-6
                    .hidden-xs
                      br
                      br
                    .col-sm-10.col-sm-offset-1.model-imgs
                        img.img-thumbnail.no-border(src='/images/block.jpg')
                        img.hidden.img-thumbnail.no-border(src='/images/plank.jpg')
                        img.hidden.img-thumbnail.no-border(src='/images/kit.jpg')
                .row
                  .hidden-xs
                    br
                .row
                  .col-md-4
                    h4.m0.red total: <strong>$</strong><span class='strong total'>-</span>
                    i.skinny.gray.tiny (includes shipping)
                .row
                  .col-sm-6.col-sm-offset-3
                    br
                    button.btn.btn-lg.btn-block(type='submit') Buy one
                .row
                  .col-sm-12
                    .row
                      hr.dotted
                      br
                    .row
                      .col-sm-4.text-left
                        a(href='https://stripe.com/us/help/faq#security', target='_blank')
                          img(src='/images/stripe.png', width=150, title='stripe')
                      .col-sm-8.text-right(style='margin-top: 5px;')
                        i.white we don't store credit card information on our servers
                        br
                        br
            br
        br
        br
        br
  #learn
    .container
      br
      br
      .col-sm-12
        .row
          h2.pull-right we're open  source
        .row
          br
          br
        .row
          p.text-center check it out on github
          .col-sm-12
            .link
              a(href='https://github.com/wileycousins/clockblock', target='_blank')
                img(src='/images/oshw-logo.svg', title='open source hardware')
                img.hover(src='/images/oshw-logo-hover.svg', title='open source hardware')
  #contact
    .container
      br
      br
      .col-sm-12
        .row
          h2.pull-left contact
        .row
          .hidden-xs
            br
            br
        .row
          a(href='https://maps.google.com/maps?q=1201+Mazant+St,+New+Orleans,+LA&sll=29.966471,-90.033884&hl=en&ie=UTF8&hq=&hnear=1201+Mazant+St,+New+Orleans,+Louisiana+70117&ll=29.966554,-90.034094&spn=0.001764,0.002631&t=m&z=19&vpsrc=0&iwloc=A', target='_blank')
            .col-sm-4.col-sm-offset-2
              h4.text-center.strong.red located @
              h4.text-center 1201 Mazant
              h4.text-center New Orleans, LA
              h4.text-center 70117
            .col-sm-3.col-sm-offset-3
              br
              br
              a(href='mailto:dev@wileycousins.com')
                h3.strong.red.text-center dev@wileycousins.com
  !=js('client')
