!!!
html
  head
    title clockblock
    !=css('index.css')
    link(rel='icon', type='image/x-icon', href='/images/fav.png')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name='keywords', content='clock, block, clock block, new orleans, hand, made, maker, nola')
    meta(name='description', content='clockblock - a contemporary clock with a simple modern block design')
    meta(name='author', content='Wiley Cousins')
    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(type="text/javascript", src="//js.stripe.com/v2/")
    script(type='text/javascript')
      Stripe.setPublishableKey('#{stripe_js}')
    script(type='text/javascript')
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45344757-1', 'clockblocknola.com');
      ga('send', 'pageview');
  body
    #home
      block content
