!!!
html
  head
    title clockblock
    link(type='text/css', rel='stylesheet', href='/css/index.css')
    link(rel='icon', type='image/x-icon', href='/images/fav.png')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name='keywords', content='clock, block, clock block, new orleans, hand, made, maker, nola')
    meta(name='description', content='clockblock - a contemporary clock with a simple modern block design')
    meta(name='author', content='Wiley Cousins')
    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(type="text/javascript", src="//js.stripe.com/v2/")
  body
    script(type='text/javascript')
      Stripe.setPublishableKey('pk_test_DzlAwMEWAF4t32q7ioR5Z0sK')
    #home
      block content
