extends layout

block content
  h1.text-center thanks for your patronage
  h4.text-center you should receive a confirmation email shortly
  p (if not check your spam folder for an email from robot@wileycousins.com)
