@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
.red {
  color: #cc2920;
}
.gray {
  color: #b9c3cc;
}
.black {
  color: #242323;
}
.white {
  color: #f9ffff;
}
.text-justify {
  text-align: justify;
}
* {
  text-decoration: none;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #242323;
  letter-spacing: 5px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #f9ffff;
}
a {
  color: #cc2920;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #242323;
  font-weight: 900;
}
a:hover h4 {
  color: #f9ffff;
}
a:hover p {
  color: #f9ffff;
}
h1,
h2,
h3,
h4,
h5 {
  color: #b9c3cc;
  font-weight: 200;
}
h2 {
  font-size: 60px;
  font-weight: 400;
}
.strong {
  font-weight: 500;
}
strong {
  font-weight: 300;
}
i {
  font-style: italic;
}
p {
  font-weight: 300;
  letter-spacing: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  p {
    font-weight: 100;
  }
}
hr {
  color: #cc2920;
  border-color: #cc2920;
}
hr.dotted {
  border-style: dashed;
  border-spacing: 10px 50px;
}
hr.white {
  color: #f9ffff;
  border-color: #f9ffff;
}
.link {
  text-align: center;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  display: block;
  float: none;
  position: relative;
  padding: 0;
}
.link img {
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  position: absolute;
  transition: opacity 0.5s;
  opacity: 1;
  width: 100px;
}
.link img.hover {
  opacity: 0;
}
.link:hover img.hover {
  opacity: 1;
}
.link:hover img:not(.hover) {
  opacity: 0;
}
div.navbar.nav {
  height: auto;
  background: #b9c3cc;
  text-align: center;
  width: 100%;
  max-width: 100%;
  min-height: 20px;
  border-radius: 0px;
  margin: 0px;
  box-shadow: 0px -10px 15px rgba(0,0,0,0.1);
}
div.navbar.nav .navbar-toggle {
  border-color: #f9ffff;
  float: none;
  margin: 30px auto;
  width: 60px;
  height: 60px;
}
div.navbar.nav .navbar-toggle .icon-bar {
  background-color: #cc2920;
  width: 40px;
}
div.navbar.nav .navbar-toggle:hover {
  background: #f9ffff;
}
div.navbar.nav button.navbar-toggle:focus {
  outline-color: #cc2920;
  border: 0px;
}
div.navbar.nav ul.nav {
  float: none;
  margin: 30px auto 0px auto;
}
div.navbar.nav .nav-link {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #b9c3cc;
  border-right: 1px solid #f9ffff;
  padding: 15px 50px;
}
div.navbar.nav .nav-link a {
  font-size: 23px;
  font-weight: 200;
}
div.navbar.nav .nav-link:last-child {
  border-right: none;
}
div.navbar.nav .nav-link.home-link {
  border-right: 3px solid #f9ffff;
}
div.navbar.nav .nav-link.home-link img {
  height: 100px;
}
@media screen and (max-width: 940px) and (min-width: 841px) {
  div.navbar.nav .nav-link {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 840px) and (min-width: 769px) {
  div.navbar.nav .nav-link {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 768px) {
  div.navbar.nav ul.nav {
    margin: 0px auto;
  }
  div.navbar.nav ul.nav .nav-link {
    clear: both;
    display: block;
    width: 60%;
    border-right: none;
    border-bottom: 1px solid #f9ffff;
    margin: 0 auto;
  }
  div.navbar.nav ul.nav .nav-link:last-child {
    border-bottom: none;
  }
}
#clockblock-block .time-wrapper {
  height: 120px;
}
#clockblock-block .time.short {
  height: 0px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
}
#clockblock-block .time {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
  height: 120px;
}
#clockblock-block:hover {
  cursor: pointer;
}
#clockblock-block:hover .time.short {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  height: 120px;
}
#main {
  margin: 70px auto 0px auto;
}
#main #blurb p {
  line-height: 40px;
}
#main h2 {
  border-bottom: 2px solid #242323;
  border-top: 2px solid #242323;
  margin: 0px auto 15px auto;
  width: 337px;
  height: 75px;
}
#main .text-justify {
  width: 365px;
  margin: 0 auto;
  float: none;
}
#equation {
  display: block;
}
#equation > div > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#equation > div > div table {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
#equation .cypress {
  margin-left: 40px;
}
#equation h4 {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 100;
  font-size: 40px;
}
#equation img {
  display: table-cell;
  width: 100%;
  height: auto;
  border-radius: 15px;
  vertical-align: middle;
}
#equation .plus h4 {
  font-weight: 900;
  font-size: 40px;
  padding-top: 145%;
}
#equation .tech h4 {
  margin-left: 5px;
}
@media screen and (max-width: 460px) and (min-width: 390px) {
  #main h2 {
    margin: 10px auto;
    width: 290px;
    height: 66px;
    font-size: 50px;
  }
  #main .text-justify {
    width: 325px;
  }
}
@media screen and (max-width: 389px) {
  #main h2 {
    margin: 10px auto;
    width: 256px;
    height: 56px;
    font-size: 43px;
  }
  #main .text-justify {
    width: 275px;
    padding-left: 5px;
  }
}
@media (max-width: 650px) {
  #equation > div,
  #equation > div.cypress {
    width: 250px;
    float: none;
    margin: 0 auto;
  }
  #equation .plus h4 {
    padding-top: 0px;
  }
}
#buy .form-group {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
}
#buy .form-group .input-group-addon {
  background: rgba(255,255,255,0);
}
#buy .form-group .input-group-addon button.btn.btn-default {
  background: #b9c3cc;
  color: #f9ffff;
}
#buy .form-group .input-group-addon button.btn.btn-default:hover {
  background: #f9ffff;
  color: #b9c3cc;
}
#buy .form-group label {
  width: 200px;
}
#buy .form-group input {
  height: 50px;
  width: 200px;
  background: #f9ffff;
  color: #242323;
  letter-spacing: 1px;
}
#buy .form-group input.mini {
  width: 80px;
}
#buy .form-group input:focus {
  border: none;
  box-shadow: 0px 0px 2px #cc2920;
}
.payment-errors {
  color: #cc2920;
  font-size: 30px;
}
#clockblock {
  position: absolute;
}
.time {
  width: 230px;
  margin: 0 auto;
  float: none;
}
.time .unit {
  width: 70px;
  margin-right: 20px;
  display: inline-block;
}
.time .measure {
  width: 40px;
  display: inline-block;
}
#learn {
  background: #242323;
  margin-top: 40px;
  padding-bottom: 100px;
}
#learn * {
  color: #f9ffff;
}
