style
  * {
    color: #B9C3CC;
  }
div(style='width=400px')
  h1 hey #{user.name.toLowerCase()},
  p just wanted to let you know we got your order. you will receive another email when your clockblock is assembled.
  p we will at that time request how you want your clockblock shipped, or if you want us to deliver it to you if you're in New Orleans.
  p if you have any questions or concerns shoot us an email at <a href='mailto:dev@wileycousins.com'>dev@wileycousins.com</a>
  img(src='http://clockblocknola.com/images/logo.png', width='200px', height='auto')
